*.result
*.pyc
*.class
*.mca
*.dat
minecraft_api/
minecraft_api/world_nether/
minecraft_api/world_the_end/
*.aux
*.log
*.bbl
*.blg
*~
*.key
*.out
*.map
*.classpath
*.kb
src/NewMineCraftDomain/src/minecraft/MinecraftDomain/Options/TrenchBuildDetOption.java
grid/
*.kb
#*
